
`timescale 1ns / 1ns

module test;


wire  CARRY, SUM;

reg  A, B, C;



fulladder top(CARRY, SUM, A, B, C); 
 

`ifdef verilog

 //please enter any additional verilog stimulus in the /home/grads/a/acoskuner500/ecen714/fulladder_run1/testfixture.verilog file
`include "/home/grads/a/acoskuner500/ecen714/fulladder_run1/testfixture.verilog"

`endif

endmodule 
